{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In | Docmefy" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12 m6 l4 offset-m3 offset-l4">
    <h3 class="header">{% trans "Sign In" %}</h3>

    <div class="card-panel hoverable">
      <div class="card-stacked">

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}

          <!-- {{ form.as_p }} -->

          {% for field in form %}
          <p>
            {% for error in field.errors %}
            <span class="orange-text text-darken-2">{{ error }}</span>
            {% endfor error %}
          </p>
          {% endfor field %}

          <div class="input-field">
            <input id="id_login" name="login" type="email" class="validate" required>
            <label for="id_login">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
          <div class="input-field">
            <input id="id_password" name="password" type="password" class="validate" required>
            <label for="id_password">Password</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
          <p>
            <label>
              <input type="checkbox" name="remember" id="id_remember" checked="checked" />
              <span>Remeber me on this device</span>
          </p>

          {% if form.non_field_errors %}
          <div>
            <p color="deep-orange accent-4">{{form.non_field_errors}}</p>
          </div>
          {% endif %}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <a class="btn btn-small secondaryAction"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="primaryAction btn btn-outline btn-small" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}