{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
        <h3 class="header">{% trans "Change Password" %}</h3>
        <div class="card-panel hoverable">
            <div class="card-stacked">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-small" name="action">{% trans "Change Password" %}</button>
                    <a class="btn btn-small btn-outline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}