{% load static %}
<header>
    <div class=navbar-fixed>
        <nav class="nav-wrapper transparent">
            <a href="#!" class="brand-logo">Docmefy</a>
            <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">For Patients</a></li>
                <li><a href="#">For Doctors</a></li>
                <li><a href="{% url 'account_login' %}" class="waves-effect waves-dark btn btn-outline">Sign in</a></li>
                <li><a href="{% url 'account_signup' %}" class="waves-effect waves-light btn">Sign up for free</a></li>
            </ul>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a class="sidenav-close" href="#!"><span>Close</span></a></li>
        <li><a href="#">For Patients</a></li>
        <li><a href="#">For Doctors</a></li>
        <li><a href="{% url 'account_login' %}">Sign in</a></li>
        <li><a href="{% url 'account_signup' %}">Sign up for free</a></li>
    </ul>
</header>